<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Employee List</h2>
    <div class="top-buttons">
        <a href="{{ url_for('add_employee') }}" class="btn">➕ Add Employee</a>
        <a href="{{ url_for('logout') }}" class="btn logout">🚪 Logout</a>
    </div>|
    
    <table border="1">
        <tr><th>ID</th><th>Name</th><th>Position</th><th>Department</th><th>Actions</th></tr>
        {% for emp in employees %}
        <tr>
            <td>{{ emp[0] }}</td>
            <td>{{ emp[1] }}</td>
            <td>{{ emp[2] }}</td>
            <td>{{ emp[3] }}</td>
            <td>
                <a href="{{ url_for('update_employee', id=emp[0]) }}">Edit</a> |
                <a href="{{ url_for('delete_employee', id=emp[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
